* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: 100vh;
    background: #e576aa;
    display: flex;
}

.row .leftside {
    width: 25%;
    height: 100vh;
    background: #e576aa;
}

.row .center {
    width: 35%;
    height: 100vh;
    background: #e576aa;
}

.row .rightside {
    width: 25%;
    height: 100vh;
    background: #e576aa;
}

.row .leftside .brand {
    width: 45%;
    height: 30px;
    background: white;
    margin: 75px;
    border-radius: 100px;
}

.leftelement {
    width: 40%;
    height: 30px;
    background: white;
    margin: 25px;
    margin-top: 40px;
    margin-left: 60px;
    border-radius: 100px;
}

.lastL {
    margin-top: 180px;
}

.story {
    height: 75px;
    width: 75px;
    background: white;
    border-radius: 150px;
    margin-top: 100px;
    margin-left: 20px;
    display: inline-flex;
}

.msg {
    width: 100%;
    height: 66vh;
    background: rgb(126, 72, 72);
    margin-top: 20px;
}

.msg .profile {
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 150px;
    margin: 10px;
    display: inline-flex;
}

.msg .name {
    width: 44%;
    height: 20px;
    background: white;
    display: inline-flex;
    margin: 20px;
    margin-bottom: 24px;
    border-radius: 150px;
}

.msg .dot {
    width: 3%;
    height: 40px;
    background: white;
    display: inline-flex;
    margin: 20px;
    margin-bottom: 24px;
    border-radius: 150px;
    float: right;
    margin-top: 20px;
}

.msg .photo {
    width: 570px;
    height: 470px;
    background: white;
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 20px;
}

.feelBar {
    height: 55px;
    width: 100%;
    background: rgb(126, 72, 72);
}

.center .feelBar .Fprofile {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 150px;
    margin: 10px;
    display: inline-flex;
}

.save {
    float: right;
}

.cmd {
    width: 86%;
    height: 30px;
    background: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

.rightside .friends {
    height: 75px;
    width: 75px;
    background: white;
    border-radius: 150px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-flex;
}

.rightside .name {
    width: 50%;
    height: 30px;
    background: white;
    display: inline-flex;
    margin: 20px;
    border-radius: 150px;
}